* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #ddd;
}
.container{
    width: 100%;
    height: 100vh;
    /* padding: 20px auto; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-1{
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid #666;
    transition: transform .5s;
}
.card-2{
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid #666;
    transition: transform .5s;

}
.card-3{
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid #666;
    transition: transform .5s;

}
.card-4{
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid #666;
    transition: transform .5s;

}
.card-1:hover{
    transform: translateY(-10px);
    border-radius: 5px;
    box-shadow: 0 5px 0 -2px rgba(0,0,0,.1);

}
.card-2:hover{
    transform: translateX(30px);
}
.card-3:hover{
    transform: translateX(-30px);
}
.card-4:hover{
    transform: translateY(30px);
}
@media screen and (max-width: 600px){
    .container{
        display: flex;
        flex-direction: column;
    }
}